{% extends '_layout.html' %}
{% from 'macros/_render_fields.html' import render_fields %}
{% from 'macros/_render_errors.html' import render_errors %}
{% from 'macros/_render_flashes.html' import render_flashes %}

{% block content %}
    <h1 class="text-center">Please Reset Your Password</h1>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form action="/reset" method="POST">
                {{ form.csrf_token }}
                {{ render_fields(form.password) }}
                {{ render_fields(form.password_confirm) }}
                <div class="form-group">
                    {{ form.submit(class_='btn btn-danger') }}
                </div>
            </form>

            {% if form.errors %}
            {{ render_errors(form.errors.items()) }}
            {% endif %}

            {{ render_flashes() }}

        </div>
    </div>
{% endblock content %}